.head {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h4 {
        font-size: 25px;
        width: calc(100% - 60px);
    }

    ion-button {
        width: 40px;
        height: 40px;
        --border-radius: 50%;
        --border-width: 1px;
        --border-color: #00000030;

        ion-icon {
            color: #000000;
            font-size: 15px;
        }
    }
}

ion-segment {
}

.wrap {
    padding-top: 30px;
    padding-bottom: 30PX;
    display: grid;
    gap: 20px;
}